:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
  }

body {
  color: rgb(240, 240, 240);
  text-align: left;
  background-color: var(--bg-color);
  height: 100vh;
  justify-content: center;
  margin: 0px;
  margin-left: 30%;
  margin-right: 30%;
  padding: 0px;
}
