:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
  }

body {
  color: rgb(240, 240, 240);
  text-align: left;
  background-color: var(--bg-color);
  height: 100vh;
  justify-content: center;
  margin: 0px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 100px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.button {
  align-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

#home_button {
    position: fixed;
    bottom: 5%;
    right: 5%;
  }

#editorial {
    position: fixed;
    bottom: 5%;
    right: 12%;
}

#article {
    position: fixed;
    bottom: 5%;
    right: 12%;
}